
<button mat-raised-button color="primary" class="add-btn">Add</button> 

<table mat-table [dataSource]="list$">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="basic" class="action-btn">Detail</button> 
            <button mat-raised-button color="primary" class="action-btn">Edit</button> 
            <button mat-raised-button color="warn" class="action-btn">Delete</button> 
    </ng-container>


    <tr mat-row *matRowDef="let row; columns : displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
</table>